.monsterContainer{
    border: 5px solid black;
    margin: 25 px;
    padding 25 px;
}

.monsterContainer img{
    float: right;
    height: 400px;
    width: 600px;
}

#populateButton{
    height: 100px;
    width: 150px;
    background-color: green;
}
#depopulateButton{
    height: 100px;
    width: 150px;
    background-color: red;
}

.selector{
    display:flex;
    flex-direction: row;
    padding: 25px;
    margin : 25px;
}

#selectCR{
    height: 100px;
    width: 150px;
    background-color: cyan;
}